{% extends "userprofile/base_2col.html" %}
{% load i18n %}

{% block title %}{% trans "Edit your personal information" %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extracss %}
	<link rel="stylesheet" href="{{ MEDIA_URL }}userprofile/css/ui.datepicker.css" type="text/css" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ MEDIA_URL }}userprofile/js/ui.datepicker.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}userprofile/js/jquery.personal.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}userprofile/js/jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}userprofile/js/jquery.jeditable.js"></script>
<script type="text/javascript">
$(function() {
        
  $(".editable_textarea").editable("/accounts/badri/General/", { 
      type   : 'textarea',
      submitdata: { _method: "put" },
      select : true,
      submit : 'OK',
      cancel : 'cancel'
  });
});
</script>
{% endblock %}

{% block userprofile_navigation %}
{% include "userprofile/menu.html" %}
{% endblock %}

{% block userprofile_content %}
	<p class="editable_textarea" id="paragraph_1" style="width: 500px"> {{ resume.resume_text }} </p>
{% endblock %}

{% block userprofile_content_related %}
  <div class="box">
    <h3>{{ resume.name }}</h3>
    <p>{% trans "click the resume text to edit" %}.</p>
    <a href="{% url profile_edit_personal %}">Go Back</a>
  </div>
{% endblock %}
