{% extends "userprofile/base_2col.html" %}
{% load i18n %}

{% block title %}{% trans "Edit your personal information" %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extracss %}
	<link rel="stylesheet" href="{{ MEDIA_URL }}userprofile/css/ui.datepicker.css" type="text/css" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ MEDIA_URL }}userprofile/js/ui.datepicker.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}userprofile/js/jquery.personal.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}userprofile/js/jquery.jeditable.js"></script>
{% endblock %}

{% block userprofile_navigation %}
{% include "userprofile/menu.html" %}
{% endblock %}

{% block userprofile_content %}
	<!--div class="edit" id="resume_content"> {{ resume.resume_text }} </div-->
	<div class="edit" id="resume_content"> {{ resume.name }} </div>
	<p> {{ resume.objective }} </p>
	<p> {{ resume.interests }} </p>
	<p> {{ resume.experience }} </p>
	<p> {{ resume.education }} </p>
	<p> {{ resume.skills }} </p>
	<p> {{ resume.personal }} </p>
{% endblock %}

{% block userprofile_content_related %}
  <div class="box">
    <h3>{% trans "Personal information" %}</h3>
    <p>{% trans "Insert some information about you" %}.</p>
  </div>
{% endblock %}
